<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
    <key>NSCameraUsageDescription</key>
    <string>This allows Legit to send your pictures and video directly from your camera.</string>
    <key>UIAppFonts</key>
    <array>
        <string>Sen-Bold.ttf</string>
        <string>Sen-Medium.ttf</string>
        <string>Sen-Regular.ttf</string>
        <string>Sen-SemiBold.ttf</string>
    </array>
</dict>
</plist>
